@import 'theme.styl'

// Apply the style on host so that the parent component can use nth-child/last-child selectors
:host
  display: block
  padding: .6rem 1.0rem
  cursor: pointer
  background-color: white
  border-bottom: 1px solid color-border

:host:hover
  background: lighten(color-primary, 90%)

