@import 'theme.styl'

:host
  display: block
  padding: .6rem 1.0rem
  cursor: pointer
  background-color: white
  border-bottom: 1px solid color-border

:host:hover
  background: lighten(color-primary, 90%)

