@import 'main.styl'

// Apply the style on host so that the parent component can use nth-child/last-child selectors
:host
  display: block
  padding: .62rem 0.5rem
  cursor: pointer
  background-color: white

:host:hover, :host.active
  background: lighten($link, 90%)

