#footer
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  background-color: white
  color: gray
  text-align: center
  border-top: 2px solid rgba(153,153,153,0.09)
  margin-bottom: -10px
  font-size: 1em

.svg-github-align
  margin-top: 5px
  margin-bottom: -8px

#i-github
  text-decoration: none
  color: black
