<div class="field">
  <label class="label">Equipment</label>
</div>
<div class="field has-addons">
  <div class="control">
    <span class="select">
      <select>
        <option>Tier 10</option>
      </select>
    </span>
  </div>
  <div class="control">
      <span class="select">
        <select>
          <option>None</option>
          <option>★</option>
          <option>★★</option>
          <option>★★★</option>
          <option>★★★★</option>
          <option>★★★★★</option>
        </select>
      </span>
  </div>
  <div class="control is-expanded">
      <span class="select is-fullwidth">
        <select>
          <option>The Holy Sword, Aea</option>
        </select>
      </span>
  </div>
</div>
