@import 'theme.styl'
@import 'grid.styl'

header
  background: color-primary
  color: white
  padding: 2em

p, small
  line-height: 0

p
  font-weight: 300

small
  font-weight: bold

section
  @extend .container
