// colors
$primary = #007bff
$primaryHov = #0062cc
$primaryBtnHov = #0069d9
$secondary = #868e96
$secondaryHov = #6c757d
$secondaryBtnHov = #727b84
$success = #28a745
$successHov = #1e7e34
$successBtnHov = #218838
$info = #17a2b8
$infoHov = #117a8b
$infoBtnHov = #138496
$warning = #ffc107
$warningHov = #d39e00
$warningBtnHov = #e0a800
$danger = #dc3545
$dangerHov = #bd2130
$dangerBtnHov = #c82333
$light = #f8f9fa
$lightHov = #dae0e5
$lightBtnHov = #e2e6ea
$dark = #343a40
$darkHov = #1d2124
$darkBtnHov = #23272b

@import 'includes/btn'
@import 'includes/btnPrimary'
@import 'includes/btnSecondary'
@import 'includes/btnSuccess'
@import 'includes/btnInfo'
@import 'includes/btnWarning'
@import 'includes/btnDanger'
@import 'includes/btnLight'
@import 'includes/btnDark'
@import 'includes/btnOutlinePrimary'
@import 'includes/btnOutlineSecondary'
@import 'includes/btnOutlineSuccess'
@import 'includes/btnOutlineInfo'
@import 'includes/btnOutlineWarning'
@import 'includes/btnOutlineDanger'
@import 'includes/btnOutlineLight'
@import 'includes/btnOutlineDark'
@import 'includes/btnLink'
@import 'includes/btnDrop'
@import 'includes/btnGroup'
@import 'includes/btnMsc'

@import 'includes/input'
@import 'includes/formControl'
