// https://github.com/milligram/milligram-stylus/blob/master/src/_Base.styl

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before
  box-sizing: inherit

// No margin for html and body
html, body
  margin: 0
  padding: 0

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html
  box-sizing: border-box
  font-size: 62.5%

// Use system fonts
body
  font-family: fonts
  color: color-secondary
  font-size: 1.6em // Currently ems cause chrome bug misinterpreting rems on body element
  letter-spacing: .01em
