// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
// Import color configuration
@import 'colors.styl'
// Apply Milligram UI
@import './milligram/milligram.styl'

// No margin for html and body
html, body
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif
  font-weight: 400
