// Global theme settings
@import 'colors.styl'

// Typography
fonts = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif

// Colors
color-primary = blood
color-secondary = black

// Body
color-body = white
color-border = silver
