<div class="input-group">
  <div class="input-group-prepend">
    <select [formControl]="tier" class="custom-select">
       <option *ngFor="let tier of availableTiers$ | async" [ngValue]="tier">Tier {{ tier }}</option>
    </select>
  </div>
  <div class="input-group-prepend">
    <select [formControl]="rating" class="custom-select">
      <option [ngValue]="0" selected>None</option>
      <option [ngValue]="1">⭐</option>
      <option [ngValue]="2">⭐⭐</option>
      <option [ngValue]="3">⭐⭐⭐</option>
      <option [ngValue]="4">⭐⭐⭐⭐</option>
      <option [ngValue]="5">⭐⭐⭐⭐⭐</option>
    </select>
  </div>
  <select [formControl]="equipment" class="custom-select">
     <option *ngFor="let e of equipmentByTier$ | async" [ngValue]="e">{{ e.name }}</option>
  </select>
</div>
