<div class="search-panel">
  <app-hero-search (selectedHero)="onHeroSelected($event)"></app-hero-search>
</div>
<div class="row no-gutters">
  <div class="card hero-panel col-12 col-xl-5">
    <div class="card-body">
      <app-hero-avatar [hero]="hero$ | async"></app-hero-avatar>
      <app-hero-stats [hero]="hero$ | async"></app-hero-stats>
    </div>
  </div>
  <div class="card equipment-panel col-12 col-xl-7">
    <ngb-tabset [type]="tabType" justify="fill" [orientation]="orientation">
      <ngb-tab title="Weapon">
        <ng-template ngbTabContent>
          <app-equipment-selector></app-equipment-selector>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Armor">
        <ng-template ngbTabContent>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Secondary Armor">
        <ng-template ngbTabContent>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Accessory">
        <ng-template ngbTabContent>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Orb">
        <ng-template ngbTabContent>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Treasure">
        <ng-template ngbTabContent>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
