<app-hero-list [heroes]="heroList"></app-hero-list>
<app-tab-container>
  <app-tab label="Weapon">
    <app-selector-weapon></app-selector-weapon>
  </app-tab>
  <app-tab label="Armor">
    <app-selector-armor></app-selector-armor>
  </app-tab>
  <app-tab label="Secondary Armor">
    <app-selector-armor-secondary></app-selector-armor-secondary>
  </app-tab>
  <app-tab label="Accessory">
    <app-selector-accessory></app-selector-accessory>
  </app-tab>
  <app-tab label="Orb">
    <app-selector-orb></app-selector-orb>
  </app-tab>
  <app-tab label="Treasure">
    <app-selector-treasure></app-selector-treasure>
  </app-tab>
</app-tab-container>
