.aligner
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  height: 100%
  width: 100%

.aligner-top
  align-self: flex-start
  width: 100%

.aligner-bottom
  align-self: flex-end
