@import 'theme.styl'

.auto-complete
  position: relative

.auto-complete-list
  margin-top: -1px
  position: absolute
  border: 1px solid color-primary
  border-bottom: none
  border-top: none
  z-index: 99
  top: 100%
  left: 0
  right: 0

app-auto-complete-item:last-child
  border-bottom: 1px solid color-primary
