<div class="auto-complete" (keyup)="onItemKeyup($event)" [formGroup]="autoCompleteForm">
  <input class="input" [placeholder]="placeholder" formControlName="searchInput" type="text">
  <div *ngIf="focused" class="auto-complete-list" role="listbox">
    <app-auto-complete-item *ngFor="let dataItem of filteredData"
                            (click)="selectItem(dataItem)"
                            [focused]="focusedStr(dataItem)"
                            [value]="unfocusedStr(dataItem)">
    </app-auto-complete-item>
  </div>
</div>
