@import 'main.styl'

// Container must be positioned relative
.auto-complete
  position: relative

.auto-complete-list
  // margin-top -1px to hide the bottom border of the default input style
  margin-top: -1px
  border: 1px solid $link
  border-bottom: none
  border-top: none
  // the list must be layered above all other elements
  z-index: 99
  // position it to the top
  position: absolute
  top: 100%
  left: 0
  right: 0

// Makes it so last child border is colored the same as when focused, making it look nice
app-auto-complete-item:last-child
  border-bottom: 1px solid $link
