

img
  width: 124px
  padding: 5px
  box-shadow: 0 0 0 2px rgba(10, 10, 10, 0.1) inset
  border-radius: 5px

ul
  list-style-type:none
  white-space:nowrap


li
  display:inline

.column
  margin: 0
  padding:0 !important
  display: block

.one-third
  flex: none
  width: 33.3333%
.section-hero-info
  padding: 3rem 1.5rem
  display: block

